{% extends 'base.html' %}
{% block content %}

<h1 class="row justify-content-center"> Current Flash Cards</h1>

<div class="row">

    {% for card in cards %}


    <div class="card user-card shadow border bg-warning flashcards" style="background-image: url({{card.image_url}})" >

        <p class="english">{{ card.english }}</p>
        <p class="korean" style="display: none;">{{ card.korean }}</p>

        <a href="/decks/delete/card/{{card.id}}">

            <button id = "bttnimg" type="button">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </button>

        </a>
    
    </div>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


    {% endfor %}

</div>


<hr>

<h2 class="row justify-content-center"> Add a New Flash Card</h2>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form method="POST">
        {{ form.csrf_token }}
        <div>
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {{ field(placeholder=field.label.text, class="form-control") }}
            <br>
            {% endfor %}

            <a href="/decks/edit/{{deck.id}}"><button class="btn btn-outline-success ">Add Card</button></a>

        </div>
        </form>
        <br>
        <br>
    </div>
</div>

<script src="../../static/action.js">

</script>

{% endblock %}